<div class="modal-header cf">
    <span class="icon flotado">
        <i class="icon-lock-open"></i>
    </span>
    <h3 class="modal-title flotado">¿Olvidó su contraseña?</h3>
    <span ng-click="close()" class="clickOut">X</span>
</div>
<form name="form" novalidate> 
    <div class="modal-body">
        <h5>Ingrese el correo electrónico asociado a su cuenta para recibir un email con su contraseña:</h5>
            <input type="email" ng-model="user2.email" placeholder="juanperez@sucorreo.com" required name="email">
            <span class="spanError" ng-show="form.email.$dirty && form.email.$invalid">Formato de correo inválido.</span>
            <div ng-show="show" class="animated emailMsg errorEmail cf" ng-class="clase">
                <span class="icon">
                    <i class="icon-cross3"></i>
                </span>
                <span>El correo que ingresó no está registrado. Inténtelo de nuevo.</span>
            </div>
            <div ng-show="success" ng-animate="'fade'" class="animated emailMsg sentEmail cf" ng-class="successClase">
                <span class="icon">
                    <i class="icon-checkmark"></i>
                </span>
               <span>El correo con su contraseña se ha enviado exitosamente.</span>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-disabled="form.$invalid" class="btn btn-success btnAzul" ng-click="sendMail()">Enviar</button>
    </div>
</form>