<div class="container">
      <form class="form-signin" role="form" ng-submit="login()">
        <h2 class="form-signin-heading">Ingreso al sistema</h2>
        <input type="email" class="form-control" ng-model="user.username" name="username" placeholder="Usuario o Correo Electr&oacute;nico" required autofocus>
        <input type="password" class="form-control" ng-model="user.password" name="password" placeholder="Contrase&ntilde;a" required>
        <label class="checkbox">
          <input type="checkbox" ng-model="user.remember_me" value="remember-me"> Recu&eacute;rdeme
        </label>
        <button id="btnSignin" type="submit" class="btn-default btn-lg btn-primary btn-block">Ingresar</button>
      </form>

</div> <!-- /container -->    